[submodule "zsh-custom/themes/powerlevel9k"]
	path = zsh-custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule "zsh-custom/plugins/zsh-syntax-highlighting"]
	path = zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-custom/themes/pure-git"]
	path = zsh-custom/themes/pure-git
	url = https://github.com/sindresorhus/pure.git
